.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: red;
}
.date{
    text-align: center;
    font-size: 14px;
    height: 20px;
}
.date p{
    margin-right: 6rem;
}

.card{
    width: auto;
    text-align: left;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
}
.text{
    margin-left: 4px;
}
.tooltip{
    height: 5px;
}