.container {
  height: 100vh;
  width: 25%;
}
.header {
  height: 67px;
  width: 100%;
  background-color: #37d5d6;
}
.body {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
