.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.form Button {
  margin-left: 2rem;
}
.container {
  display: flex;
  justify-content: space-between;
}
